#define INPUT_EV_KEY 0x01
#define INPUT_EV_REL 0x02
#define INPUT_EV_ABS 0x03
#define INPUT_EV_MSC 0x04
#define INPUT_EV_VENDOR_START 0xf0
#define INPUT_EV_VENDOR_STOP 0xff

#define INPUT_REL_X 0x00
#define INPUT_REL_Y 0x01
#define INPUT_REL_WHEEL 0x08
#define INPUT_REL_HWHEEL 0x06
#define INPUT_REL_MISC 0x09

/*
 * Use the Pro Micro interconnect SPI bus for portability.
 * Avoid hard-coding nRF GPIO numbers here.
 *
 * NOTE:
 * CS/IRQ pins below are chosen to avoid the matrix pins you showed
 * in charybdis_right.overlay (which used many pro_micro pins).
 * If your wiring is different, we will adjust CS/IRQ next.
 */

&pro_micro_spi {
    status = "okay";

    cs-gpios = <&pro_micro 0 GPIO_ACTIVE_LOW>;

    trackball: trackball@0 {
        status = "okay";

        /* Keep the compatible that your driver expects */
        compatible = "pixart,pmw3610-alt";
        reg = <0>;
        spi-max-frequency = <2000000>;

        irq-gpios = <&pro_micro 1 (GPIO_ACTIVE_LOW | GPIO_PULL_UP)>;

        cpi = <800>;
        evt-type = <INPUT_EV_REL>;
        x-input-code = <INPUT_REL_X>;
        y-input-code = <INPUT_REL_Y>;
    };
};
